p{color:white; font-size:15px;font-family:SansSerif;}
h1{font:SansSerif; font-size:30px; color:white;}
h2.dua{color:white; font:SansSerif; font-style:italic}
.silver{color:silver; font:SansSerif; font-style:italic}

